/* 
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap'); */
.na{
    color: black;
   
}
.navbar{
    height: 50px;
    border: 2px solid black;
    width: 98.3%;
    background-color: skyblue;
    font-weight: bold;
    margin-left: 1px; 
    padding: 10px;
    display: flex;
    
}




.nav2{
   
    height: 40px;
    width: 98.3%;
    margin-left: 10px;
    margin-top: -20px;
}
.contact{
    position: absolute;
    right: 20px;
}

.about{
    position: absolute;
    right:  130px;
}


.book{
    position: absolute;
    right:  15px;
}

.flight{
    position: absolute;
    right:  140px;
}
.home{
    position: absolute;
    right:  253px;
}
.checkin{
    position: absolute;
    right:  320px;
    
}
.cancle{
    position: absolute;
    right:  400px;
}

.home:hover{
    padding: 4px;
}

.flight:hover{
    background-color: transparent;
    padding: 2px;
}
.book:hover{
    background-color: transparent;
    padding: 2px;
}
.about:hover{

    border: 2px  rgb(12, 11, 10);
    padding: 2px;
}
.contact:hover{
     border: 2px rgb(12, 11, 10);
    padding: 1px;
} 

.about1{
    position: absolute;
   right: 440px;
 
}
.contact1{
    position:absolute;
    right: 150px;
  

}
.Body{
  background-color: skyblue; 
  border: 2px solid black;
  padding: 20px; 
  
  margin-top: -50px;
  margin-bottom: 20px;
  margin-left: 5px;

  height: 40px;
  width: 96.3%;
  bottom: o; 
}

.active{
    margin: 2px;
    border: black solid;
}


i{
    font-size: 30px;
    padding: 15px;
    color: #5b5b5b;
}

