
<body>

   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
  
    <section> 
        <div class="container">
            
         <div class="row">
             <div class="col-sm-6"> 
              <!-- <h2 class="my-3" routerLink="/home"> Contact us </h2>  -->
             <h2 class="mb-1"> Registered Office </h2>
             <div class="content_div_contact_us mb-3">
                 <div class="text_para mb-2"> CIN : L62100DL2004PLC129768 </div>
                 <div class="text_para_second"> Upper Ground Floor, Thapar House, Gate No. 2, Western Wing, 124 Sadashiv Peth, Pune – 411048 India.</div>
                 <div class="text_para_second"> Fax : +91 11-43513200</div>
            </div>
            <div class="content_div_contact_us mb-3">   
                <div class="text_para_second"> Upper Ground Floor, Thapar House, Gate No. 2, Western Wing, 124 Sadashiv Peth, Pune – 411048 India.</div>
           </div>
           <div class="content_div_contact_us mb-3">   
            <div class="text_para_second"> For comments, concerning Civil Aviation Requirement, Section -3, please contact- Air Transport, Series M, Part IV.</div>
           </div>
            
         <br>
          <div class="second_container mt-4">
            <h2 class="my-3"> Corporate Office </h2>
            <div class="content_div_contact_us mb-2">
                <div class="text_para_second">Level 1, Tower C, Global Business Park, Pune-banglor Highway Road,Pune</div>
                <div class="text_para_second"> <i class="fa fa-phone" aria-hidden="true"></i> Tel : +91 996 0263 22</div>
                <div class="text_para_second"> <i class="fa fa-print" aria-hidden="true"></i> Fax :+91 983 4791 55</div>
               
            </div>
          </div>
          <div class="second_container mt-4">
            <h2 class="my-3"> Customer Support </h2>
            <div class="content_div_contact_us mb-2">
                <div class="text_para_second mb-2"> India : 0124-6173838, 0124-4973838 </div>
            
                <div class="text_para_second"> *Calls may be recorded for training and quality purposes and for compliance with applicable
                     regulatory requirements. <br> <a href="https://www.goindigo.in/information/privacy.html">Click Here</a> to know more about AirGo privacy policy</div>
             
            </div>
          </div>
             </div>
             <div class="col-sm-6"> 
                <br>
                <h2>Find Us On...</h2>
                <div class="ig-footer-social-list clearfix">
                    <a href="https://www.facebook.com/FlightAware">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                
                    <a href="https://www.instagram.com/flightaware" >
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                
                    <a href="https://www.instagram.com/flightaware" >
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                
                    <a href="https://www.facebook.com/FlightAware">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                
                    <a href="">
                        <i class="fa fa-tripadvisor" aria-hidden="true"></i>
                    </a>
                </div>   
              </div>
         </div>
        </div>
    </section> 
   
</body>