<body>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <section class="banner" id="top">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="left-side">
                        <nav class="nav2">
                            <div class="contact">
                              <a mat-stroked-button routerLink="/contact"> <b> Contact Us </b></a>
                            </div>
                            <div class="about">
                              <a mat-stroked-button  routerLink="/about"><b> About Us</b></a>
                              </div>  
                              <div class="search">
                                <a mat-stroked-button routerLink="/search"> <b> Search </b></a>
                              </div>
                              <div class="pay">
                                <a mat-stroked-button routerLink="/book/payment"> <b> PayHere </b></a>
                              </div>

                          </nav>
                        <div class="left">
                        </div>
 
                        <div class="tabs-content">
                               <ul class="social-links">
                                <li><a href="https://www.facebook.com/SkyPlanner">Find us on <em>Facebook</em> <i class="fa fa-facebook-official" aria-hidden="true"></i> </a></li>
                                <li><a href="https://www.youtube.com/c/theskyplanner">Our <em>YouTube</em> Channel<i class="fa fa-youtube"></i></a></li>
                                <li><a href="https://www.instagram.com/flightaware/">Follow our <em>instagram</em><i class="fa fa-instagram"></i></a></li>
                                <li><a routerLink="/book">Book The <em>Flight</em></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
                     