.container{
    padding: 50px;
    align-content: center;
}
.card{
    padding: 50px;
    text-align: center;
}
.form-group{
    padding: 10px;
    align-content: center;
    text-align: center;
}

.text-danger{
    color: red;
    margin-left: 5px;
}


body{
    background:  url(/../../assets/imgs/plane.jpg);  
    height: 83%;
}


.btn1{
    border: black solid;
    background-color: rgb(140, 235, 235);

}
.row{
    border: black solid;
    height: 270px;
    width: 360px;
    margin-left: 370px;
    margin-top: 25px;
    background-color: rgb(236, 230, 230);
}